doctype html  
html(lang='en')  
 head
   style 
        include js/bootstrap.min.js
        include css/bootstrap.min.css
        link(rel='stylesheet', href='https://getbootstrap.com/docs/4.0/examples/grid/grid.css')
   title Pug
 body
   h2 Sample #1
   div.container
    div.row
        div.col-1
            div
                input(
                      type='checkbox'
                      name='agreement'
                      checked
                )
        div.col-2
            img(
                src='pics/1.JPG'
                height=40
            )
        div.col-4
            ul
                li Feature A
                li Feature B

        div.col-5
            a(
             href='Buy'
            ) Add to cart!

    div.row
        div.col-1
            div
                input(
                      type='checkbox'
                      name='agreement'
                      checked
                )
        div.col-2
            img(
                src='pics/2.JPG'
                height=40
            )
        div.col-4
            ul
                li Feature C
                li Feature B

        div.col-5
            a(
             href='Buy'
            ) Add to cart!

    div.row
        div.col-1
            div
                input(
                      type='checkbox'
                      name='agreement'
                      checked
                )
        div.col-2
            img(
                src='pics/3.JPG'
                height=40
            )
        div.col-4
            ul
                li Feature C
                li Feature B

        div.col-5
            a(
             href='Buy'
            ) Add to cart!

    div.row
        div.col-1
            div
                input(
                      type='checkbox'
                      name='agreement'
                      checked
                )
        div.col-2
            img(
                src='pics/4.JPG'
                height=40
            )
        div.col-4
            ul
                li Feature C
                li Feature XY

        div.col-5
            a(
             href='Buy'
            ) Add to cart!



 h2 'Sample #2'
    div.container
        div.row
            div.col-4
                img(
                    src='pics/1.JPG'
                    width=100
                )
            div.col-4
                img(
                    src='pics/2.JPG'
                    width=100
                )
            div.col-4
                img(
                    src='pics/3.JPG'
                    width=100
                )
        div.row
            div.col-4
                span Picture 1
            div.col-4
                span Picture 2
            div.col-4
                span Picture 3
        div.row
            div.col-4
                img(
                    src='pics/4.JPG'
                    width=100
                )
            div.col-4
                img(
                    src='pics/5.JPG'
                    width=100
                )
            div.col-4
                img(
                    src='pics/6.JPG'
                    width=100
                )
        div.row
            div.col-4
                span Picture 4
            div.col-4
                span Picture 5
            div.col-4
                span Picture 6